*.exe
*.dll
*.msi
*.zip
*.suo
*.user

/.vs/
/.tx/
/.vscode/

/LocalisationPack/**/*.resx
/LocalisationPack/**/*.pdf
/LocalisationPack/ZetaResourceEditor/

/TinyWall.suo
/TinyWall.v11.suo

bin/
obj/

/MsiSetup/Sources/ProgramFiles/

build_errors*
build_log*