*.exe
*.dll
*.msi
*.zip
*.suo
*.user

/.vs/
/.tx/
/.vscode/

/LocalizationPack/**/*.resx
/LocalizationPack/**/*.pdf
/LocalizationPack/ZetaResourceEditor/

/TinyWall.suo
/TinyWall.v11.suo

[Oo]bj/
[Bb]in/

/MsiSetup/Sources/ProgramFiles/

build_errors*.txt
build_log*.txt